.box {
    width: 40%;
    margin: auto;
    font-family: arial;
    font-size: 16px;
    text-align: justify;
}

.box h1 {
    text-align: center;
}

.box img {
    width: 150px;
    float: left;
    padding-right: 10px;
    border-radius: 50%;
}

.box a {
    text-decoration: none;
    color: #39f;
}


.box a:hover {
    text-decoration: underline;
    color: #00f;
}