body {
    background-color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.client {
    background-color: #ecf0f1;
    width: 50%;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid #333;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

input {
    display: block;
    padding: 10px;
    border-radius: 7px;
    margin: 7px auto;
    outline: none;
    border: 1px solid #2c3e50;
    width: 80%;
}

input[type="submit"] {
    background-color: orangered;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    background-color: orange;
}